*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(59, 59, 59);
}
#accord{
    margin: 100px auto;
    width: 600px;
}
#accord li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
}
#accord li label{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: rgb(32, 32, 32);
}
#accord li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color: rgb(59, 59, 59);
}
#accrod label,input[type="radio"]{
    display: none;
}
#accord .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height all 0.5s;
}
#accord label+input[type="radio"]:checked+.content{
    max-height: 400px;
    transition: all 1s;
}