*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
}
p{
    font-size: 2rem;
}
.js{
    color: yellow;
}
.text{
    color: rgb(0, 0, 231);
}
.cursor{
    color: rgb(0, 0, 231);
}