*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 27);
}
a{
    padding: 2rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: powderblue;
    color: #fff;
    font-size: 1.5rem;
    position: relative;
}
a::before{
    content: "BUTTON";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}
a::after{
    content: "BUTTON";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(14, 231, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
    transition-delay: 0.25s;
}
a:hover::before,
a:hover::after{
    transform: rotateX(0);
}
