*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(5, 5, 5);
}
a{
    text-decoration: none;
    color: antiquewhite;
    border: 2px solid antiquewhite;
    padding: 2rem 5.1rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: all 1s;
}
a::before{
    content: "DOWNLOAD";
    font-weight: bold;
    color: black;
    position: absolute;
    border-radius: 0 0 10px 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: antiquewhite;
    transform: translateY(-100%);
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:hover::before{
    transform: translateY(0);
    background-color: antiquewhite;
}
