*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: rgb(9, 226, 226);
}
.checkbox{
    height: 80px;
    width: 270px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}
.checkbox input{
    position: relative;
    height: 40px;
    width: 90px;
    background-color: #e6e6e6;
    -webkit-appearance: none;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.checkbox input::before{
    height: 100%;
    width: 40px;
    left: 0;
    position: absolute;
    content: "";
    background: linear-gradient(#fff, #f2f2f2, #e6e6e6, #d9d9d9);
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(0.85);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input:checked{
    background-color: rgb(9, 226, 226);
}
input:checked::before{
    left: 50px;
}
.checkbox .text::before{
    content: "Disabled";
    font-size: 25px;
    font-weight: 500;
    color: #bfbfbf;
}
input:checked ~ .text::before{
    content: "Enabled";
    color: rgb(9, 226, 226);
    font-size: 26px;
}