*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 62, 247);
}
.container{
    max-width: 950px;
    width: 100%;
    background-color: aliceblue;
    padding: 40px 50px 50px 40px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.container .main-title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .content .list{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%;
    margin-right: 30px;
}
.content .list{
    padding-left: 12px;
}
.content .list label{
    height: 60px;
    font-size: 22px;
    line-height: 60px;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
    color: #333;
    z-index: 12;
    transition: all 0.4s ease;
}
.content label i img{
    margin-bottom: -3.5px;
}
.content .info{
    position: absolute;
    height: 60px;
    width: 100%;
    left: 0;
    background: rgb(22, 22, 224);
    border-radius: 12px;
    transition: all 0.4s ease;
}
.content .list label:hover{
    color: rgb(22, 22, 224);
}
#blog:checked ~ .list .blog,
#help:checked ~ .list .help,
#code:checked ~ .list .code,
#about:checked ~ .list .about,
#home:checked ~ .list  .home{
    color: #fff;
}
#home:checked ~ .list .info{
    top: 0px;
}
#blog:checked ~ .list .info{
    top: 60px;
}
#help:checked ~ .list .info{
    top: 120px;
}
#code:checked ~ .list .info{
    top: 180px;
}
#about:checked ~ .list .info{
    top: 240px;
}
.container input[type="radio"]{
    display: none;
}
.container .content .text-content{
    width: 80%;
    height: 100%;
}
.content .text-content .text{
    display: none;
}
.content .text-content .home{
    display: block;
}
#home:checked ~ .text-content .home,
#blog:checked ~ .text-content .blog,
#help:checked ~ .text-content .help,
#code:checked ~ .text-content .code,
#about:checked ~ .text-content .about{
    display: block;
}
#blog:checked ~ .text-content .home,
#help:checked ~ .text-content .home,
#code:checked ~ .text-content .home,
#about:checked ~ .text-content .home{
    display: none;
}
.content .text-content .title{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.content .text-content p{
    text-align: justify;
}

@media screen and (min-width: 500px){
    .container .content .list{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 22%;
        margin-right: 20px;
    }
}
