body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  background-image: linear-gradient(120deg, #050505, #080808);
  min-height: 100vh;
  color: #fff;
}

.container {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #414141;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #646464;
}

h2 {
  font-size: 34px;
  font-weight: 600;
}

.text {
  text-align: left;
  font-weight: 500;
  margin-left: 150px;
}

#w,
#h {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid #f8f7ff;
  width: 200px;
}

#w:focus,
#h:focus {
  border-bottom: 2px solid #fafafa;
  width: 300px;
  transition: 0.5s;
}

#result {
  color: #ffffff;
}

#btn {
  font-family: inherit;
  margin-top: 10px;
  border: none;
  color: #fff;
  background-image: linear-gradient(120deg, #494949, #0e0d0f);
  width: 150px;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

#btn:hover {
  box-shadow: 1px 1px 10px #9c9c9c;
}

#info {
  font-size: 12px;
  font-family: inherit;
  margin-top: 15px;
}
