*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49);
}
ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
li{
    list-style: none;
}
.list-items{
    position: relative;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    font-weight: bold;
    transition: 1s;
}
.list-items::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scaleY(2);
    transition: 1s;
    border-top: 2px solid rgb(87, 87, 87);
    border-bottom: 2px solid rgb(87, 87, 87);
}
.list-items:hover::before{
    transform: scaleY(1.2);
    opacity: 1;
}
